parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property WorldNewsGroup\\\\Marketo\\\\Model\\\\Lead\\:\\:\\$email\\.$#"
			count: 1
			path: src/Model/Lead.php

		-
			message: "#^Access to an undefined property WorldNewsGroup\\\\Marketo\\\\Model\\\\Lead\\:\\:\\$firstName\\.$#"
			count: 1
			path: src/Model/Lead.php

		-
			message: "#^Access to an undefined property WorldNewsGroup\\\\Marketo\\\\Model\\\\Lead\\:\\:\\$lastName\\.$#"
			count: 1
			path: src/Model/Lead.php
